* {
    margin: 0;
    padding: 0;
}

body {
    background: url("soil3.jpg") no-repeat;
    background-size: cover;
}

div {
    width: 35%;
    position: absolute;
    right: 5%;
    top: 30%;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #4077a2;
}

div h1 {
    font-size: 4rem;

    margin-bottom: .6rem;
    color: rgb(0, 0, 0);
}

div h2 {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

div button {
    font-size: 1.4rem;
    padding: 15px 50px;
    margin-top: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-style: none;
    border-radius: 6px;
    background-color: #ffd104;
}

div button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

div button:hover {
    background-color: #F7B32D;
}