* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#1f4e55;

}

h1{
    margin-left: 40%;
    font-style: italic;
    padding-top: 50px;
    padding-bottom: 40px;
    color: white;
    font-style: italic;
}

.head-para{
    font-size: 1.4rem;
    padding: .3rem 20rem .3rem 4rem;
    color: white;
    font-style: italic;
}

.unique-para{
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}

.prevent{
    display: flex;
    padding: 1rem 3rem;
    font-style: italic;
    width: 85%;
    margin: 1.2rem auto ;
   box-shadow: 0 0 20px rgba(0, 0, 0, 1);
   transition: .3s all;
   background-color: white;

}

.prevent:hover{
    transform: scale(1.03);
}

.prevent img{
    width: 25%;
    border: 3px solid rgb(70, 69, 69);
}

.prevent section{
    padding: 1rem 2rem;
}

.prevent section h3{
    text-align: center;
    font-size: 1.5rem;
    color:rgb(22, 89, 84);
    margin-bottom: 2rem;
}

.prevent section p{
    line-height: 1.8rem;
    font-size: 1.3rem;
    text-align: justify;
}

